# === Web App & Frontend ===
streamlit==1.35.0
streamlit-autorefresh
fastapi
uvicorn[standard]
altair
# === Data Handling ===
pandas
requests
pytz
pyarrow  # Required for BigQuery pandas interface
joblib    # For saving isotonic calibrators

# === Machine Learning ===
xgboost
scikit-learn

# === Google Cloud SDKs ===
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
oauth2client
pydrive2
google-cloud-bigquery
google-cloud-bigquery-storage
google-cloud-storage
pandas-gbq
